In [1]:
import os
import sys

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.etl import transform as t
from src.etl import extract as e

#try:
    #obter dados 
df = e.extrair_filial_brick_data_xlsx('../data/raw/filial-brick_sample.xlsx')

    #transformar dados
    #df_clean = t.limpar_filial_brick_data_xlsx(df)
#except Exception as ex:
    #print('Erro ao executar extrair dados: ', ex)

In [2]:
#transformar dados
df = t.limpar_filial_brick_data_xlsx(df)

In [4]:
#exibir dados
display(df)
df.info()

     cod_filial cod_brick                nome_brick
0           402         1                        SE
1           454        92        CHAC.SANTO ANTONIO
2           423       181                  REGISTRO
3           394       257      S.J.RIO PRETO-CENTRO
4           417       271  S.J.RIO PRETO-V.S.MANOEL
..          ...       ...                       ...
581         883      1383               PASSO FUNDO
582         457      1383               PASSO FUNDO
583         503      1383               PASSO FUNDO
584         526      1383               PASSO FUNDO
585         621      1383               PASSO FUNDO

[586 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cod_filial  586 non-null    int64
 1   cod_brick   586 non-null    object
 2   nome_brick  586 non-null    object
dtypes: int64(1), object(2)
memory usage: 13.9+ KB